#contact {
  background-color: $secondary-color;
}
.contact-spa {
  padding: 100px 48px;
  text-align: center;
  h2 {
    padding-bottom: 30px;
  }
  iframe {
    @media (min-width: $desktop-width){
      padding: 0px 200px;
    }
  }
}
