#myprojects {
  background-color: $primary-color;
  padding: 100px 0px;
  h2 {
    color: $secondary-color;
  }
  .row {
    padding: 50px;
  }
}
.proy-cont {
  padding:  20px;
  &:hover .box .overlay {
    opacity: 100%;
  }
  img {
    width: 100%;
    
  }
}
.box{
  position: relative;
  transition: 0.8s;
}
.overlay {
  background-color: $secondary-color;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0%;
  transition: 0.8s;
  p {
    padding: 10px;
    color: $primary-color;
  }
}
.project-p {
  margin: 0px;
  @media (max-width: 780px){
    font-size: 16px;
  }
  
}
