.btn-purple {
  background-color: $primary-color;
  color: $white-color;
  font-size: 20px;
  padding: 8px 20px 8px 20px;
}
.btn-purple:hover {
  text-decoration: none;
  color: $primary-color;
  background-color: transparent;
  border-color: $primary-color;
}
.btn-nav {
  font-size: 15px;
  @media (max-width: 991px) {
    margin-top: 15px;
  }
}

//whatsapp button
.whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}
.whatsapp-icon {
  opacity: 0.8;
  transition: 0.7s;
  width: 53px;
}
.whatsapp-icon:hover {
  opacity: 1;
}
.fixed-button.show-button {
  opacity: 1;
}