@font-face {
  font-family: 'Manjari';
  src: url('@/assets/fonts/manjari/Manjari-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Manjari';
  src: url('@/assets/fonts/manjari/Manjari-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Manjari';
  src: url('@/assets/fonts/manjari/Manjari-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Neucha';
  src: url('@/assets/fonts/neucha/Neucha-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}