
// COLORS
$primary-color: #CB1518;
$secondary-color: #E38BBB;
$white-color: #fff;
$grey-color: #484F5D;

// FONT FAMILY
$manjari-font: 'Manjari', sans-serif;
$neucha-font: 'Neucha', cursive;



$tablet-width: 768px;
$phone-width: 480px;
$desktop-width: 992px;
$desktop-l-width: 1200px;
$desktop-xl-width: 1400px;

