@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,700;1,300&display=swap');

// COLORS
$primary-color: #5241B8;
$secondary-color: #71F4CD;
$white-color: #fff;
$grey-color: #484F5D;

// FONT FAMILY
$karla-font: 'Karla', sans-serif;



$tablet-width: 768px;
$phone-width: 480px;
$desktop-width: 992px;
$desktop-l-width: 1200px;
$desktop-xl-width: 1400px;

