@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700;800&family=Rubik:wght@300;400;700&display=swap');


// COLORS
$primary-color: #5241B8;
$secondary-color: #71F4CD;
$white-color: #fff;
$grey-color: #484F5D;

// FONT FAMILY
$karla-font: 'Karla', sans-serif;



$tablet-width: 768px;
$phone-width: 480px;
$desktop-width: 1024px;
